/* Definición de variables */
:root {
  --primary-color: #007bff;
  --shadow-color: rgba(0, 0, 0, 0.54);
  --text-color: #333; 
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

body {
  background: linear-gradient(300deg, #ffffe6, #e3ffa5, #c1ffa5);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif; 
}

.navbar {
  display: flex;
  background: #fff;
  backdrop-filter: blur(20px);
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  box-shadow: 10px 10px 34px 0px var(--shadow-color);
  border-radius: 10px;
  transition: top 0.5s ease-in-out;
}

.navbar.sticky {
  position: fixed;
  top: 20px;
  width: 100%;
  animation: fadeInDown 0.5s ease-in-out;
}

/* Define la animación fadeInDown */
@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-100%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


/* Estilo para la tabla de usuarios */
table {
  width: 1000px;
  border-radius: 10px;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 34px 0px var(--shadow-color);
  border-color: #333;
}

/* Estilo para el botón flotante */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.login {
  background: rgba(255, 255, 255, 0.521);
  backdrop-filter: blur(20px);
  padding: 20px;
  box-shadow: 10px 10px 34px 0px var(--shadow-color);
  border-radius: 8px;
  width: 300px;
  height: fit-content;
  text-align: center;
}